.profileDisable {
  @apply mt-3 p-2 shadow menu invisible opacity-0 rounded-box w-52 absolute top-10 bg-light_white right-0 transform scale-75 transition-all ease-in delay-100
}
.profileEnable {
  @apply mt-3 p-2 shadow menu visible opacity-100 transform scale-100 transition-all ease-out delay-100  rounded-box w-52 absolute top-10 bg-light_white right-0 z-50
}

.drawerMenu{
  display: none;
  margin: 0px 6px;
  cursor: pointer;
}

@media (max-width : 1051px) {
  .drawerMenu{
    display: block;
  }
  .HeaderMenu{
    display: none;
  }
}



.animationHeder {
  animation: headerDownAnimation 1s linear forwards;
 }
 
 @keyframes headerDownAnimation {
   0% {transform: translateY(-100px)}
   100% {transform: translateY(0px)}
 }
 